params {

    manifest = null

}

manifest {
    name            = 'Protein Interactions Pipeline'
    author          = 'PDBe Team'
    homePage        = ''
    description     = 'A pipeline to analyze protein interactions from cif files.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=25.10.3'
    version         = 'v0.1.0'
}

plugins {
  id 'nf-schema@2.2.0'
}

process {

    withName: remove_alt_conformations {
        cpus = 1
        memory = '1 GB'
        time = '2m'
    }

}

profiles {

    standard {
        process.executor = 'local'
        docker.enabled = true
        //docker.runOptions = '-v /Users/:/Users/' // Adjust this path as needed for your environment
    }

}